export(WDBdisc, 
       dBhatta, 
       dBrayCurtis, 
       dcor, 
       dGower, 
       dHellinger, 
       dMahal, 
       dOrloci, 
       dPrevosti)


S3method(print, wdb)
S3method(summary, wdb)
S3method(plot, wdb)
S3method(plot, summarywdb)
